{% extends 'base.html.twig' %}

{% block title %} Calebasse inventory system!{% endblock %}

{% block body %}
<style>
    body{
        background: url("/imgs/herb-5.jpeg") no-repeat center center fixed;
    }
    .medical-div{
        padding: 50px;
        width: 100%;
        min-height: 100vh;
        background: white;
    }

    .medical-div-title{
        width: fit-content;
        margin: auto;
    }
    tbody tr:hover{
        background-color: whitesmoke;
        cursor: pointer;
    }

    #pageNation{
        margin: auto;
        width: fit-content;
    }
    .medical-div-table{
        overflow-x: scroll;
    }
    table th,td{
        min-width: 80px;
    }
</style>
<div class="medical-div">
    <div class="medical-div-title"><h2> 中成药列表 ✅</h2></div>
    <div class="medical-div-table">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>名字</th>
                    <th>series</th>
                    <th>次系</th>
                    <th>category</th>
                    <th>cc</th>
                    <th>真id</th>
                    <th>申报</th>
                    <th>sku</th>
                    <th>条形码</th>
                    <th>lot</th>
                    <th>拉丁</th>
                    <th>拼音</th>
                    <th>etiquette</th>
                    <th>贴纸</th>
                    <th>网站上架</th>
                    <th>optinos</th>
                </tr>
                <tr>
                    <form method="post" action="/medical/single" id="search-bar">
                        <th></th>
                        {% if params and params.name is defined %}
                            <th><input class="form-control" name="name" value="{{ params.name }}"/></th>
                        {% else %}
                            <th><input class="form-control" name="name"/></th>
                        {% endif %}
                        {% if params and params.series is defined %}
                            <th><input class="form-control" name="series" value="{{ params.series }}"/></th>
                        {% else %}
                            <th><input class="form-control" name="series"/></th>
                        {% endif %}
                        <th></th>
                        {% if params and params.category is defined %}
                            <th><input class="form-control" name="category" value="{{ params.category }}"/></th>
                        {% else %}
                            <th><input class="form-control" name="category" /></th>
                        {% endif %}
                        {% if params and params.cc is defined %}
                            <th><input class="form-control" name="cc" value="{{ params.cc }}"/></th>
                        {% else %}
                            <th><input class="form-control" name="cc" /></th>
                        {% endif %}
                        {% if params and params.tid is defined %}
                            <th><input class="form-control" name="tid" value="{{ params.tid }}"/></th>
                        {% else %}
                            <th><input class="form-control" name="tid" /></th>
                        {% endif %}
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <select name="order" class="form-control">
                                {% if order==0 %}
                                    <option value="0" selected>拼音排序</option>
                                {% else %}
                                    <option value="0" >拼音排序</option>
                                {% endif %}
                                {% if order==1 %}
                                    <option value="1" selected>倒叙</option>
                                {% else %}
                                    <option value="1">倒叙</option>
                                {% endif %}
                                {% if order==2 %}
                                    <option value="2" selected>正序</option>
                                {% else %}
                                    <option value="2">正序</option>
                                {% endif %}
                            </select>
                        </th>
                        <th><button class="btn btn-success">搜索</button></th>
                    </form>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="single-item" data-id="{{ item.id }}">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.series }}</td>
                        <td>{{ item.subSeries }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.cc }}</td>
                        <td>{{ item.tid }}</td>
                        <td>{{ item.declareNo }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.ean }}</td>
                        <td>{{ item.lot }}</td>
                        <td>{{ item.latin }}</td>
                        <td>{{ item.pinyin }}</td>
                        <td>{{ item.etiquette }}</td>
                        <td>{{ item.label }}</td>
                        <td>{{ item.shop }}</td>
                        <td>
                            <a href="/medical/single/delete?id={{ item.id }}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pageNation">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.postion == currentPage %}
                        <li class="page-item active"><a class="page-link" data-href="{{page.url}}">{{ page.key }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" data-href="{{page.url}}">{{ page.key }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

    <script>
        $(".pagination").on("click",".page-link",function () {
            let href = $(this).attr("data-href");
            $("#search-bar").attr("action",href);
            $("#search-bar").submit();
        });

        $(".medical-div-table").on("click",".single-item",function () {
            let id = $(this).attr("data-id");
            window.location.assign("/medical/single/detail?id="+id);
        });
    </script>
</div>
{% endblock %}
